.btn-group
  = link_to(edit_resource_path(resource), class: 'btn btn-secondary') do
    %i.fas.fa-edit
    = t('.edit')

  = link_to(resource_path(resource), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' }) do
    %i.fas.fa-trash
    = t('.destroy')

= link_to(collection_path, class: 'btn btn-link') do
  = t('.back')
