= table.column :actions, title: '' do |resource|
  - capture_haml do
    .btn-group
      = link_to(resource_path(resource), class: 'btn btn-sm btn-primary') do
        %i.fas.fa-eye
        = t('.show')
      = link_to(edit_resource_path(resource), class: 'btn btn-sm btn-secondary') do
        %i.fas.fa-edit
        = t('.edit')
      = link_to(resource_path(resource), class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: t('.destroy_confirmation') }) do
        %i.fas.fa-trash
        = t('.destroy')