.content-header
  .row
    .col
      %h1= t(".title", **inflections)

.content-body.overflow-y-auto.mb-2
  .row
    .col
      = render "before_index_table", collection: @collection

  .row
    .col
      .collection-table.table.table-responsive
        = collection_table(collection: @collection, resource_class: resource_class) do |table|
          = render 'index_table',         table: table
          = render 'index_table_actions', table: table

  .row
    .col
      = render "after_index_table", collection: @collection

.content-footer
  .row
    .col
      = render "index_actions"
