.content-header
  .row
    .col
      %h1= @resource.to_s

.content-body.overflow-y-auto.mb-2
  .row
    .col
      .resource-table
        = resource_table(resource: @resource) do |table|
          = render 'show_table',         table: table
          = render 'show_table_actions', table: table

  .row
    .col
      = render "after_show_table", resource: @resource

.content-footer
  .row
    .col
      = render "show_actions", resource: @resource

