%h1= @resource.try_all(:human, :title, :name, :to_s)

= render 'before_show_table', resource: @resource

= resource_table(resource: @resource) do |t|
  = render 'show', table: t

= render 'after_show_table', resource: @resource
  
= render 'show_actions', resource: @resource