.service-chain
  .wizard
    .wizard-track.bg-light
    - service_chain.steps.each_with_index do |step, index|
      - if step.display?
        .wizard-step{ class: [step.completion_status, (step.actual? ? :actual : nil)].compact.join(" "), id: "step#{index + 1}" }
          - if step.actual?
            %span.wizard-step-marker.rounded-circle.bg-primary.text-white
              %i.fas.fa-play
            %span.wizard-step-label
              - if options.dig(:actual_step, :link)
                = link_to(step.label, step.url(self))
              - else
                = step.label
          - else
            - if step.render_as_completed?(options)
              %span.wizard-step-marker.rounded-circle.bg-success.text-white.render-completed
                %i.fas.fa-check
            - else
              %span.wizard-step-marker.rounded-circle.bg-secondary.text-white.render-pending
                %i.fas.fa-circle
            %span.wizard-step-label
              - if (service_chain.before_actual?(step) && options.dig(:previous_steps, :link)) || (service_chain.after_actual?(step) && options.dig(:next_steps, :link))
                = link_to(step.label, step.url(self))
              - else
                = step.label