%table{ class: table_css_classes }
  - if show_header
    %thead
      %tr
        - columns.each do |name, options|
          - title = options.delete(:title)
          - if title.nil?
            - if resource_class.respond_to?(:human_attribute_name)
              - title = resource_class.human_attribute_name(name)
            - else
              - title = name
          - elsif title === false
            - title = nil
          - if options.has_key?(:sort)
            %td= sort_link(name, title, options[:sort])
          - else
            %td= title
  %tbody
    - collection.each do |resource|
      - tr_options = { class: resource_class.name.underscore.gsub('/', '-') }
      - if resource.respond_to?(:model_name)
        - tr_options[:id] = dom_id(resource)
      - else
        - tr_options[:id] = "#{resource.class.name.underscore.gsub('/', '-')}-#{resource.object_id}"
      %tr{ tr_options }
        - columns.each do |name, options|
          - td_options = { class: "attribute-#{name}", id: "#{tr_options[:id]}-#{name}"}
          - if options[:block].present?
            %td{ td_options }= options[:block].call(resource)
          - else
            %td{ td_options }
              = render partial: "rao/component/table/body_cells/#{options[:render_as]}", locals: { resource: resource, name: name, options: options }
